/* @theme presentation_theme */

@import 'gaia';
/* 真っ白ベースにしたい場合は 'default' に変更がおすすめ */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap'); */

:root {
  --color-background: #fff;
  --color-foreground: #333;
  /* --color-highlight: #006CD5; */
  --color-highlight: #ff7300;
}

section {
  background-image: none;
  font-family: 'Yu Gothic', 'Segoe UI';
  font-size: 32px;
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 6px solid #006CD5;
  /* ★ 青色の実線を下端に追加 */
}

/* デフォルトより文字を小さくするクラス */
section.small-text {
  font-size: 28px;
}

/* デフォルトより文字を大きくするクラス */
section.large-text {
  font-size: 40px;
}

section strong {
  color: var(--color-highlight);
  /* オレンジ色 */
}

section.title h2 {
  font-size: 80px !important;
}

section.title h3 {
  font-size: 60px !important;
  line-height: 1.1;
  margin: 0;
}

section.title :not(h2):not(h3) {
  font-size: 48px !important;
  line-height: 1.2 !important;
}

section h1 {
  /* ★ 絶対配置で左上隅に固定し、他のフローの影響を完全に避ける */
  position: absolute;
  top: 15px;
  /* 上端から15px */
  left: 10px;
  /* 左端から10px */
  display: block;

  /* 線のための余白 (テキストの前に空間を作る) */
  padding-left: 20px;

  /* H1の文字色やフォント設定 */
  color: #006CD5;
  font-size: 44pt;
  font-weight: bold;
  margin: 0;
}

/* 2. タイトル左の短い青線 */
section h1::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  /* 文字の縦中央に配置 */
  transform: translateY(-50%);
  left: -20px;
  /* H1の左側に飛び出させる */
  width: 100px;
  height: 6px;
  background-color: #006CD5;
}

/* https://github.com/marp-team/marpit/issues/271 */
section::after {
  font-weight: 700;
  content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
  font-size: 32px;
  font-weight: bold;
  /* ★ 太字にする */
  color: #006CD5;
  /* ★ 青色にする */
}

ul ul {
  font-size: 0.9em;
}

section.lead h1 {
  color: #006CD5;
  text-align: left;
}

section.lead h1 strong {
  -webkit-text-stroke: 1px #006CD5;
}

section.lead h2 {
  color: #006CD5;
  text-align: left;
}

section.lead h2 strong {
  -webkit-text-stroke: 1px #006CD5;
}

section.lead h3 {
  color: #006CD5;
  text-align: left;
}

section.lead h3 strong {
  -webkit-text-stroke: 1px #006CD5;
}

section.lead h4 {
  color: #006CD5;
  text-align: left;
}

section.lead h4 strong {
  -webkit-text-stroke: 1px #006CD5;
}

section.lead h5 {
  color: #006CD5;
  text-align: left;
}

section.lead h5 strong {
  -webkit-text-stroke: 1px #006CD5;
}

section.lead p {
  text-align: right;
}

header {
  background-color: #006CD5;
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
}

blockquote {
  max-width: 90%;
  border-top: 0.1em dashed #555;
  font-size: 60%;
  position: absolute;
  bottom: 20px;
}

blockquote::before {
  content: "";
}

blockquote::after {
  content: "";
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

code {
  font-family: 'Source Code Pro', monospace;
}
